 .principal {
     background:rgb(139, 139, 139);
 }   
 
 hl {
     test-align: center;
 }

 p {
      text-align: center;
 }

  #missao {
    color:red;
    font-size:18px;
  }

  #banner {
      WIDTH: 100% ;
  }

  .beneficios-titulos{
    text-align:center;
  }

  .itens {
    font-style: italic;
  }

  .beneficios {
    background: #FFFFFF ;
  }
